<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"></link>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/3.0.0/css/ionicons.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Goldman&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}"></link>
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-primary mb-2">
            <a class="navbar-brand brand" href="#">ConiX</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="Current breakpoint tier">
                            Tier	 
                            <span class="d-xl-inline d-none">XL</span>
                            <span class="d-lg-inline d-xl-none d-none">LG</span>
                            <span class="d-md-inline d-lg-none d-none">MD</span>
                            <span class="d-sm-inline d-md-none d-none">SM</span>
                            <span class="d-inline d-sm-none">XS</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="jumbotron w-100 py-5 mx-auto content container">
            <h1>Screener</h1>
            <h4>Cryptocurrency screener</h4>
            <p class="lead">
                Rapidy build custom themes for Bootstrap, the world's most 
                popular front-end component library for mobile-first, 
                responsive Web apps. <a class="font-weight-bold" href="https://themestr.app">Themestr.app</a> is a customizer and theme creator for Bootstrap. 
                Choose from a huge collection of color palettes, fonts and SASS variables. Prototype different styles, and 
                easily generate CSS from SASS to give your projects a unique look-and-feel.
            </p>

            <form class="form-group row">
                <label class="col-lg-1 col-form-label form-control-label text-muted parameters">Pattern</label>
                <div class="col-lg-2">
                    <select class="form-control" name="pattern">
                        {% for pattern in patterns %}
                            <option value="{{ pattern }}">{{ patterns[pattern] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <label class="col-lg-1 col-form-label form-control-label text-muted parameters">Interval</label>
                <div class="col-lg-2">
                    <select class="form-control" name="interval">
                        {% for interval in intervals %}
                            <option value="{{ intervals[interval] }}">{{ interval }}</option>
                        {% endfor %}
                    </select>
                </div>
                <input type="submit" class="btn btn-primary mr-2" value="Scan"></button>
            </form>
            
            <div class="table-responsive">
                <table class="table table-hover table-sm">
                    <tbody>
                        <tr>
                            <th class="w-25">Tiker</th>
                            <th class="w-50">Signal</th>
                        </tr>
                        {% for ticker in tickers %}
                            {% if tickers[ticker] %}
                                <tr>
                                    <td>{{ ticker }}</td>
                                    {% if tickers[ticker] > 0 %}
                                        <td><span class="badge badge-success">bullish</span></td>
                                    {% else %}    
                                        <td><span class="badge badge-danger">bearish</span></td>
                                    {% endif %}    
                                </tr>
                            {% endif %}    
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <script src='https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js'></script>
        <script src="{{ url_for('static', filename='chart.js') }}"></script>
    </body>
</html>